numpy==1.22.0
xarray==0.12.3
netCDF4==1.5.1.2
pip==19.2.3
wheel==0.33.6
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
pytest==5.1.2
pytest_cov==2.7.1
Sphinx==2.2.0
sphinx_rtd_theme==0.4.3
bumpversion==0.5.3
watchdog==0.9.0
pytest-runner==5.1
